
.container {
  width: 400px;
  height: 650px;
  background-color: #313131;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.screen {
  width: 370px;
  height: 130px;
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 5px;
  font-size: 18px;
}

.calcButtons {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 1rem;
}
.calcButtons button {
  border-radius: 40px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  background-color: #ffbfff;
  color: #78007a;
  border: none;
}

.calcButtons button:hover {
  background-color: #78007a;
  color: #ffbfff;
  border: none;
}
.svgHover:hover rect,
.svgHover:hover circle {
  fill: #ffbfff;
  color: #78007a;
}

.equal {
  grid-row: span 2;
}

.AC {
  grid-column: span 2;
}

.symbolBox {
  height: 50px;
  display: flex;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;
  }
}

